In [1]:
import pandas as pd
import boto3 # conda activate env, conda install boto3
import io
import getpass
import pandas as pd

# Establish Connection to S3

In [2]:
my_aws_access_key_id = '{0}'.format(getpass.getpass('aws_access_key_id: '))

aws_access_key_id: ········

In [3]:
my_aws_secret_access_key = '{0}'.format(getpass.getpass('aws_secret_access_key: '))

aws_secret_access_key: ········

In [4]:
my_bucket = '{0}'.format(getpass.getpass('bucket_name: '))

bucket_name: ········

In [5]:
session = boto3.Session(profile_name = None,
                        region_name = 'us-east-2')
conn = session.client('s3',
                      aws_access_key_id = my_aws_access_key_id,
                      aws_secret_access_key = my_aws_secret_access_key)

In [6]:
files_content = conn.list_objects(Bucket = my_bucket)['Contents']
file_names = [file['Key'] for file in files_content]

In [7]:
print(file_names)

['detail.txt', 'opm_201309/DTagelvl.txt', 'opm_201309/DTagy.txt', 'opm_201309/DTdate.txt', 'opm_201309/DTedlvl.txt', 'opm_201309/DTgsegrd.txt', 'opm_201309/DTloc.txt', 'opm_201309/DTloslvl.txt', 'opm_201309/DTocc.txt', 'opm_201309/DTpatco.txt', 'opm_201309/DTppgrd.txt', 'opm_201309/DTsallvl.txt', 'opm_201309/DTstemocc.txt', 'opm_201309/DTsuper.txt', 'opm_201309/DTtoa.txt', 'opm_201309/DTwkstat.txt', 'opm_201309/DTwrksch.txt', 'opm_201309/FACTDATA_SEP2013.TXT', 'opm_201309/FS_Employment_Sep2013_Documentation.pdf', 'opm_201309/ReadRawData_CreateTempDatasets_DataGov.sas', 'opm_202309/DTagelvl.txt', 'opm_202309/DTagy.txt', 'opm_202309/DTdate.txt', 'opm_202309/DTedlvl.txt', 'opm_202309/DTgsegrd.txt', 'opm_202309/DTloc.txt', 'opm_202309/DTloslvl.txt', 'opm_202309/DTocc.txt', 'opm_202309/DTpatco.txt', 'opm_202309/DTpp.txt', 'opm_202309/DTppgrd.txt', 'opm_202309/DTsallvl.txt', 'opm_202309/DTstemocc.txt', 'opm_202309/DTsuper.txt', 'opm_202309/DTtoa.txt', 'opm_202309/DTwkstat.txt', 'opm_202309/DTwrksch.txt', 'opm_202309/FACTDATA_SEP2023.TXT', 'opm_202309/FS_Employment_Sep2023_Documentation.pdf', 'opm_202309/ReadRawData_CreateTempDatasets_DataGov.sas', 'opm_202309/fact_202309.csv', 'opm_202309/occ1530_202309.csv']

# Retrieve and Work with Data in S3

In [8]:
response = conn.get_object(Bucket = my_bucket, Key = 'opm_202309/FACTDATA_SEP2023.TXT')
file = response['Body'].read()

In [10]:
df_fact = pd.read_csv(io.BytesIO(file), low_memory=False)

In [11]:
df_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2258821 entries, 0 to 2258820
Data columns (total 20 columns):
 #   Column      Dtype
---  ------      -----
 0   AGYSUB      object
 1   LOC         object
 2   AGELVL      object
 3   EDLVL       object
 4   GSEGRD      object
 5   LOSLVL      object
 6   OCC         object
 7   PATCO       int64
 8   PP          object
 9   PPGRD       object
 10  SALLVL      object
 11  STEMOCC     object
 12  SUPERVIS    object
 13  TOA         object
 14  WORKSCH     object
 15  WORKSTAT    int64
 16  DATECODE    int64
 17  EMPLOYMENT  int64
 18  SALARY      float64
 19  LOS         float64
dtypes: float64(2), int64(4), object(14)
memory usage: 344.7+ MB

In [12]:
df_fact.head()

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS
0,AA00,11,F,13,NaN,G,0340,2,ES,ES-**,T,XXXX,2,50,F,1,202309,1,210000.0,20.3
1,AA00,11,I,15,NaN,I,0905,1,ES,ES-**,T,XXXX,2,50,F,1,202309,1,203000.0,30.7
2,AA00,11,F,04,14,E,0905,1,99,GS-14,Q,XXXX,8,30,F,1,202309,1,172075.0,14.1
3,AA00,11,E,15,NaN,E,0905,1,ES,ES-**,S,XXXX,8,50,F,1,202309,1,195000.0,12.0
4,AA00,11,G,15,14,E,0905,1,99,GS-14,O,XXXX,8,30,F,1,202309,1,150016.0,11.3