# Highlights

- End to end instructions of python-sql integration using `psycopg2` and `sqlalchemy`
- Upload `pandas` dataframe to sql database with `sqlalchemy` connection. It's much less painful to work with `sqlalchemy` connection than using `psycopg2` alone. See comparison file [2025-03-09_psycopg2_commit](https://github.com/tiangenglu/database_management/blob/main/python-sql-integration/2025-03-09_psycopg2_commit.ipynb) here.
- Always `.commit()` and close connection `.close()` when work is done

In [3]:
import sys
import psycopg2
import getpass
import pandas as pd
import sqlalchemy
from sqlalchemy import text
from sqlalchemy import create_engine

In [4]:
print(sys.version_info)
print('sqlalchemy version:', sqlalchemy.__version__)
print('psycopg2 version:',psycopg2.__version__)
print('pandas version:',pd.__version__)

sys.version_info(major=3, minor=12, micro=2, releaselevel='final', serial=0)
sqlalchemy version: 2.0.25
psycopg2 version: 2.9.9 (dt dec pq3 ext lo64)
pandas version: 2.1.4

# Establish Connection

In [5]:
database_name = f'{getpass.getpass('database name: ')}'
host_name = 'localhost'
my_port = '5433'
username = 'postgres'
pass_word = f'{getpass.getpass('password: ')}'

database name: ········
password: ········

In [8]:
PostgreSQL_DBAPI = 'postgresql+psycopg2://' + \
username + ':' + pass_word + \
'@' + host_name + ':' + my_port + '/' + database_name

In [12]:
# reference: https://docs.sqlalchemy.org/en/20/core/engines.html#postgresql
engine = create_engine(PostgreSQL_DBAPI)
# postgresql+psycopg2://postgres:***@localhost:5433/database_name
type(engine)

sqlalchemy.engine.base.Engine

In [14]:
conn = engine.connect()
type(conn) # sqlalchemy.engine.base.Connection

# Database Operations

## Retrieve Data

- `pd.read_sql_table()` needs connection built from `sqlalchemy`
- `pd.read_sql_query()` is more lenient for connections from `psycopg2`. It runs with a warning message.

In [17]:
conn.execute(text("""
SELECT table_schema, table_name FROM information_schema.tables WHERE table_schema = 'public'
""")).fetchall()

[('public', 'fact'),
 ('public', 'agency'),
 ('public', 'locat'),
 ('public', 'age'),
 ('public', 'education'),
 ('public', 'occupation'),
 ('public', 'occucat'),
 ('public', 'stem'),
 ('public', 'supervisor'),
 ('public', 'appointment'),
 ('public', 'cm63_hq_sep2024_toa')]

In [19]:
pd.DataFrame(
    pd.read_sql_query("""
    SELECT table_schema, table_name FROM information_schema.tables WHERE table_schema = 'public'
    """, 
                      con=conn))

   table_schema           table_name
0        public                 fact
1        public               agency
2        public                locat
3        public                  age
4        public            education
5        public           occupation
6        public              occucat
7        public                 stem
8        public           supervisor
9        public          appointment
10       public  cm63_hq_sep2024_toa

In [20]:
pd.read_sql_table(table_name='supervisor', con=conn)

  supertyp       supertypt supervis                     supervist
0        1      Supervisor        2       2-SUPERVISOR OR MANAGER
1        2          Leader        6                      6-LEADER
2        2          Leader        7                 7-TEAM LEADER
3        3  Non-Supervisor        4           4-SUPERVISOR (CSRA)
4        3  Non-Supervisor        5  5-MANAGEMENT OFFICIAL (CSRA)
5        3  Non-Supervisor        8         8-ALL OTHER POSITIONS
6        4     Unspecified        *                 *-UNSPECIFIED

## Create `pandas` Dataframe from sql Queries

In [21]:
agency_headcount=\
pd.DataFrame(
    pd.read_sql_query(
        """
        SELECT AGYSUBT, T1.AGYSUB, COUNT(T1.AGYSUB) AS HEADCOUNT, AVG_TENURE 
        FROM FACT T1
        JOIN AGENCY T2 ON T1.AGYSUB = T2.AGYSUB
        JOIN (SELECT AGYSUB, ROUND(AVG(LOS),2) AS AVG_TENURE FROM FACT GROUP BY AGYSUB) T3 ON T1.AGYSUB = T3.AGYSUB
        GROUP BY AGYSUBT, T1.AGYSUB, AVG_TENURE 
        ORDER BY HEADCOUNT DESC;
        """,
        con=conn
    )
)

In [22]:
agency_headcount

,agysubt,agysub,headcount,avg_tenure
0,VATA-VETERANS HEALTH ADMINISTRATION,VATA,427915,9.22
1,TR93-INTERNAL REVENUE SERVICE,TR93,99001,12.04
2,AF1M-AIR FORCE MATERIEL COMMAND,AF1M,71804,11.64
3,HSBD-CUSTOMS AND BORDER PROTECTION,HSBD,66514,13.87
4,HSBC-TRANSPORTATION SECURITY ADMINISTRATION,HSBC,64433,10.06
...,...,...,...,...
537,HUVV-OFFICE OF DISASTER MANAGEMENT AND NATIONA...,HUVV,1,16.40
538,"ARXR-U.S. ARMY RESEARCH, DEVELOPMENT AND ENGIN...",ARXR,1,20.60
539,WU00-SOUTHWEST BORDER REGIONAL COMMISSION,WU00,1,1.70
540,NV33-MILITARY SEALIFT COMMAND,NV33,1,0.40
541,AF2F-AIR FORCE MEDICAL SUPPORT AGENCY,AF2F,1,12.80

## Upload `pandas` Dataframe to sql Database

In [23]:
agency_headcount.to_sql(name='agency_headcount_sep2024', 
                        con=conn, 
                        if_exists='replace', 
                        index=False)
# must commit to reflect updates in sql database
conn.commit()

542

In [25]:
conn.close()